<p>Click here to add names separated by commas!</p>
<div class="">
  <input type="text" id="students">
  <button type = "button" onClick="newInput()">Add Names</button>
  <input type = "button" value = "Reset" onClick = "location.href=location.href"?>
</div>

<form id="n" method = 'post' action = '/input_page'>
  <input type = "text"  name="studentlist" id="studentList">
    <input type = "submit" value = "Submit">
    <button type = "reset" value = "Reset">Reset</button>
    </form>

<script type="text/javascript">
function newInput() {
  var students = document.getElementById("students").value
  document.getElementById("studentList").value = students
  console.log(students)
}
</script>
