<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/style.css">
<p class = "header">Click here to add names separated by commas!</p>
</head>
<body>
<div class="jsbuttons">
  <input type="text" id="students">
  <button class="button1" type = "button" onClick="newInput()">Add Names</button>
  <input type = "button" value = "Refresh Page" onClick = "location.href=location.href"?>
</div><br>

<form id="submitbuttons" method = 'post' action = '/input_page'>
  <input type = "text"  name="studentlist" id="studentList">
    <input type = "submit" value = "Submit">
    <button type = "reset" value = "Reset">Reset</button>
    </form>

<script type="text/javascript">
function newInput() {
  var students = document.getElementById("students").value
  document.getElementById("studentList").value = students
  console.log(students)
}
</script>
</body>
</html>
