<p>Click here to add names!</p>

<form id="n" method = 'post' action = '/input_page'>
  <button type = "button" onClick="newInput()">Add Name</button>
    <input type = "submit" value = "Submit">
    <button type = "reset" value = "Reset">Reset</button>
    </form>
