 html {
  background-image: linear-gradient(red, white, blue);
  text-align: center;

}

.header {
  font-size: 30px;
  font-weight:bold;
  text-align: center;
}

.button1 {
  border-radius: 12px;
}

.results  {
  font-size: : 20px;
}
